USE [master]
GO
/****** Object:  Database [ProvaAgenti]    Script Date: 12/11/2021 14:27:51 ******/
CREATE DATABASE [ProvaAgenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProvaAgenti', FILENAME = N'C:\Users\Alessia\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\ProvaAgenti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProvaAgenti_log', FILENAME = N'C:\Users\Alessia\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\ProvaAgenti.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProvaAgenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProvaAgenti]
GO
USE [ProvaAgenti]
GO
/****** Object:  Table [dbo].[Agenti]    Script Date: 12/11/2021 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenti](
	[Nome] [nvarchar](50) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[Codice Fiscale] [nvarchar](50) NOT NULL,
	[AreaGeografica] [nvarchar](50) NOT NULL,
	[AnnoInizioAttivita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codice Fiscale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agenti] ([Nome], [Cognome], [Codice Fiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Alessandro', N'Demuro', N'DMRLSS76T39M589V', N'Sardegna', 2005)
INSERT [dbo].[Agenti] ([Nome], [Cognome], [Codice Fiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Michela', N'Mocci', N'MMPLI57203DMXHW024', N'Campania', 2000)
INSERT [dbo].[Agenti] ([Nome], [Cognome], [Codice Fiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Mario', N'Rossi', N'MRSS1729278DKWSE', N'Piemonte', 2003)
GO
USE [master]
GO
